<!DOCTYPE html>
<html>

<head>
<title>Faculty Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="dashboard">

<h2>Faculty Dashboard</h2>

<div class="cards">

<div class="card">
Total Students<br>
<b>{{students|length}}</b>
</div>

<div class="card">
System<br>
<b>Academic AI</b>
</div>

<div class="card">
Access Level<br>
<b>Faculty</b>
</div>

</div>

<a href="/faculty-chat">Open AI Assistant</a>

<table>

<tr>
<th>Name</th>
<th>KTU ID</th>
<th>CGPA</th>
<th>Skills</th>
</tr>

{% for s in students %}

<tr>
<td>{{s.name}}</td>
<td>{{s.univ_reg_no}}</td>
<td>{{s.cgpa}}</td>
<td>{{s.skills}}</td>
</tr>

{% endfor %}

</table>

</div>

</body>
</html>