<!DOCTYPE html>
<html>

<head>
<title>Student Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="navbar">
<h1>KTU Student Portal</h1>
<a href="/">Logout</a>
</div>

<div class="dashboard">

<h2>Welcome {{student.name}}</h2>

<div class="cards">

<div class="card">
KTU ID<br>
<b>{{student.univ_reg_no}}</b>
</div>

<div class="card">
CGPA<br>
<b>{{student.cgpa}}</b>
</div>

<div class="card">
Certificates<br>
<b>3 Uploaded</b>
</div>

</div>


<h3>Skills</h3>

<div class="skill-list">

{% for skill in student.skills %}
<div class="skill">{{skill}}</div>
{% endfor %}

</div>


<h3>Certificates</h3>

<div class="cert-grid">

<div class="cert">
<b>Sports</b><br>
{{student.uploaded_certificates.sports[0].event}}
</div>

<div class="cert">
<b>Cultural</b><br>
{{student.uploaded_certificates.cultural[0].event}}
</div>

<div class="cert">
<b>Hackathon</b><br>
{{student.uploaded_certificates.hackathons[0].event}}
</div>

</div>

</div>

</body>
</html>