<!DOCTYPE html>
<html>

<head>
<title>Student Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="dashboard">

<h2>Student Dashboard</h2>

<div class="cards">

<div class="card">
<b>Name</b><br>
{{student.name}}
</div>

<div class="card">
<b>KTU ID</b><br>
{{student.univ_reg_no}}
</div>

<div class="card">
<b>CGPA</b><br>
{{student.cgpa}}
</div>

</div>


<h3>Skills</h3>

<ul>
{% for skill in student.skills %}
<li>{{skill}}</li>
{% endfor %}
</ul>


<h3>Uploaded Certificates</h3>

<div class="cards">

<div class="card">
<b>Sports</b><br>
{{student.uploaded_certificates.sports[0].event}}
</div>

<div class="card">
<b>Cultural</b><br>
{{student.uploaded_certificates.cultural[0].event}}
</div>

<div class="card">
<b>Hackathon</b><br>
{{student.uploaded_certificates.hackathons[0].event}}
</div>

</div>

</div>

</body>
</html>